@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --max-width: 1920px;
    --text-color: #fff;
    --background: linear-gradient(#0069e3, #0056ba);

    --spider-man-616-height: 360px;
    --mulher-aranha-65-height: 300px;
    --spider-man-1610-height: 324px;
    --sp-dr-14512-height: 324px;
    --spider-ham-8311-height: 146px;
    --spider-man-90214-height: 376px;
    --spider-man-928-height: 360px;

    @apply h-screen bg-cover transition-[background] ease-in-out duration-1000 [&:not(.hero-page)]:before:content-[""] [&:not(.hero-page)]:before:absolute [&:not(.hero-page)]:before:top-0 [&:not(.hero-page)]:before:w-full [&:not(.hero-page)]:before:h-full [&:not(.hero-page)]:before:bg-default-bg;
  }
}

body {
  @apply relative h-full m-auto max-w-[var(--max-width)] text-[var(--text-color)] overflow-hidden;
}

header {
  @apply relative z-40 flex justify-between items-center mt-12 mx-12;
}
